@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";

}

    <h1>@ViewBag.Title1</h1>
        <h2>
            movie number : @ViewBag.Movienum
        </h2>
        <h4>Description:</h4>
        <div>
            @Html.Raw(ViewBag.Desc)
        </div>
        @if (ViewBag.Artists.Length>0)
        {
        <h5> Artists  </h5>
        <div>
            <ul>
                @foreach (var Artist in ViewBag.Artists)
            {
                    <li>@Artist</li>

                }
            </ul>
        </div>

        }
       
    